.footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0a2850;
  padding: 60px 80px;
  overflow: hidden;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  height: 39px;
  width: 105px;
  z-index: 1;
}

.footer__circle {
  position: absolute;
  border-radius: 340px;
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  z-index: 0;
  top: -128px;
  left: -44px;
}

.footer__social {
  justify-content: flex-end;
  color: #ffffff;
  padding: 0;
}

.footer__social-heading {
  display: flex;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__social_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__social_list-item {
  display: flex;
  margin-top: 16px;
  font-weight: normal;
  gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__social-link {
  text-decoration: none;
  color: inherit;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: #ffffff;
  font-weight: normal;
  margin-top: 108px;
  margin-bottom: 0;
  z-index: 0;
}
