.reservation {
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-color: #d9e7ff;
  width: 100%;
  color: #000000;
}

.reservation__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px auto;
  padding-top: 100px;
}

.reservation__form {
  margin: 0 auto 120px auto;
}

.reservation__form-text {
  padding: 0;
  border: none;
}

.reservation__form-label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__form-item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  margin-bottom: 32px;
  margin-top: 8px;
  width: 100%;
}

.reservation__form-buttom {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  height: 60px;
  max-width: 385px;
  width: 100%;
  margin: 32px auto 32px;
  padding: 0;
}

.form__buttom:hover {
  opacity: 70%;
}

.reservation__form-checkbox {
  height: 20px;
  width: 20px;
  margin: auto 12px 0 auto;
  border-radius: 2px;
}

.reservation__form-check {
  justify-content: center;
  border: none;
}
